* { 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.web_logo{
    width: 300px;
    height: 80px;
}
a{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.things{
    padding: 10px 50px;
    color: black;
    font-size: 18px;
    font-weight: 200;
}
li{
    padding-bottom: 10px;
}
#tutorial{
    font-size: 24px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 50px;
}
#logo{
    cursor: pointer;
}
.page_title{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.albert{
    text-align: center;
    padding: 30px;
}
#name{
    color: #337ab7;
    font-weight: 300;
    font-size: 40px;
    padding: 0 0 10px 0;
}
#equ{
    font-weight: bold;
    font-size: 30px;
    padding: 0 0 10px 0;
    color: green;
    font-style: italic;
}

.important h3{
    text-align: center;
}
#quote{
    list-style: none;
    color: #333333;
    font-size: 26px;
    font-weight: 400;
}
#quote_owner{
    list-style: none;
}
p{
    color:purple;
    font-size: 20px;
    padding: 0 20px;
    padding-bottom: 10px;
}
#wiki{
    color: #337ab7;
    font-size: 20px;
    font-style: italic;
}
